<div class="additional-products">
            <div class="container">
                <h2 class="additional-products-title"><span>Дополнительные товары</span></h2>
                <div class="additional-product">
                    <div class="additional-product-block scroll-x">
                        <table class="additional-product-block-table">
                            <tbody>
                                <tr class="first-line description">
                                    <td class="name-product">Сахарозаменитель</td>
                                    <td class="kind">1 упаковка (100 г)</td>
                                    <td class="price">200 грн.</td>
                                    <td>
                                        <button class="btn btn-primary btn-table">заказать</button>
                                    </td>
                                </tr>
                                <tr class="description">
                                    <td class="name-product">Питьевая вода</td>
                                    <td class="kind">5 литров</td>
                                    <td class="price">50 грн.</td>
                                    <td>
                                        <button class="btn btn-primary btn-table">заказать</button>
                                    </td>
                                </tr>
                                <tr class="description">
                                    <td class="name-product">молоко</td>
                                    <td class="kind">1 литр</td>
                                    <td class="price">100 грн.</td>
                                    <td>
                                        <button class="btn btn-primary btn-table">заказать</button>
                                    </td>
                                </tr>
                                <tr class="description">
                                    <td class="name-product">витамины</td>
                                    <td class="kind">1 упаковка (30 г)</td>
                                    <td class="price">300 грн.</td>
                                    <td>
                                        <button class="btn btn-primary btn-table">заказать</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="block-order">
                        <img src="assets/img/gift-photo-desktop.svg" href="#" class="block-order-btn">
                        <div class="block-order-btn-text">Закажите все и получите чехол для кота в подарок!</div>
                    </div>
                </div>
            </div>
        </div>