<section class="page-catalog">
    <div class="container">
        <div class="catalog-title">
            <h1>Каталог продукции</h1>
        </div>
        <div class="product-wrapper">
            <div class="product">
                <div class="product-img-small">
                    <img src="assets/img/catalog-1.png" alt="">
            </div>
                    <div class="product_title">Cat Energy PRO 500 г</div>
                    <div class="product_mass">Масса<span>500 г</span></div>
                    <div class="product_tasty">Вкус<span>Курица</span></div>
                    <div class="product_price"> Цена <span>200 грн</span></div>
                    <button class="product_buy">Заказать</button>
                </div>
                <div class="product">
                    <div class="product-img-big">
                        <img src="assets/img/catalog-2.png" alt="">
            </div>
                        <div class="product_title">Cat Energy PRO 1000 г</div>
                        <div class="product_mass">Масса<span>1000 г</span></div>
                        <div class="product_tasty">Вкус<span>Курица</span></div>
                        <div class="product_price">Цена<span>200 грн</span></div>
                        <button class="product_buy">Заказать</button>
                    </div>
                    <div class="product">
                        <div class="product-img-small">
                            <img src="assets/img/catalog-3.png" alt="">
            </div>
                            <div class="product_title">Cat Energy PRO 500 г</div>
                            <div class="product_mass">Масса<span>500 г</span></div>
                            <div class="product_tasty">Вкус<span>Курица</span></div>
                            <div class="product_price">Цена <span>200 грн</span></div>
                            <button class="product_buy">Заказать</button>
                        </div>
                        <div class="product">
                            <div class="product-img-big">
                                <img src="assets/img/catalog-4.png" alt="">
            </div>
                                <div class="product_title">Cat Energy PRO 1000 г</div>
                                <div class="product_mass">Масса<span>1000 г</span></div>
                                <div class="product_tasty">Вкус<span>Курица</span></div>
                                <div class="product_price">Цена <span>200 грн</span></div>
                                <button class="product_buy">Заказать</button>
                            </div>
                            <div class="product">
                                <div class="product-img-small">
                                    <img src="assets/img/catalog-5.png" alt="">
            </div>
                                    <div class="product_title">Cat Energy PRO 500 г</div>
                                    <div class="product_mass">Масса<span>500 г</span></div>
                                    <div class="product_tasty">Вкус<span>Курица</span></div>
                                    <div class="product_price">Цена <span>200 грн</span></div>
                                    <button class="product_buy">Заказать</button>
                                </div>
                                <div class="product">
                                    <div class="product-img-big">
                                        <img src="assets/img/catalog-6.png" alt="">
            </div>
                                        <div class="product_title">Cat Energy PRO 1000 г</div>
                                        <div class="product_mass">Масса<span>1000 г</span></div>
                                        <div class="product_tasty">Вкус<span>Курица</span></div>
                                        <div class="product_price">Цена <span>200 грн</span></div>
                                        <button class="product_buy">Заказать</button>
                                    </div>
                                    <div class="product">
                                        <div class="product-img-small">
                                            <img src="assets/img/catalog-7.png" alt="">
            </div>
                                            <div class="product_title">Cat Energy PRO 500 г</div>
                                            <div class="product_mass">Масса<span>500 г</span></div>
                                            <div class="product_tasty">Вкус<span>Курица</span></div>
                                            <div class="product_price">Цена <span>200 грн</span></div>
                                            <button class="product_buy">Заказать</button>
                                        </div>
                                        <div class="product">
                                            <div class="product-img-small">
                                                <img src="assets/img/catalog-7.png" alt="">
            </div>
                                                <div class="product_title">Cat Energy PRO 500 г</div>
                                                <div class="product_mass">Масса<span>500 г</span></div>
                                                <div class="product_tasty">Вкус<span>Курица</span></div>
                                                <div class="product_price">Цена <span>200 грн</span></div>
                                                <button class="product_buy">Заказать</button>
                                            </div>
                                        </div>
                                    </div>
</section>