.example {
  padding-bottom: $section-margin;
  background-color: #F2F2F2;

  >container{
    padding: 0 80px;
  }

  &-row {
      display: flex;
      justify-content: space-between;
  }
  &-title {
      font-size: 60px;
      line-height: 1;
      font-family: $font-primary;
      color: #000;
      margin-bottom: 70px;
      padding-bottom: 76px;
      background: #fff;
      position: relative;
      z-index: 1;
      &::before {
          content: "";
          position: absolute;
          top: 0;
          left: -100vw;
          width: 200vw;
          height: 100%;
          background-color: #fff;
          z-index: -1;
      }
  }
  &-options {
      max-width: 436px;
      &-des {
          font-size: 16px;
          line-height: 24px;
          font-family: $font-secondary;
          color: #444444;
          margin-bottom: 69px;
      }
      &-parameter {
          display: flex;
          justify-content: space-between;
          margin-bottom: 60px;
          &-item{
              display: flex;
              flex-direction: column;
              text-align: center;    
              min-width: 162px;
              font-size: 30px;
              line-height: 37px;
              font-family: $font-primary;
              color: $text;
              border: 1px solid #CDCDCD;
              border-radius: 3px;
              padding: 15px 0 20px;
              

              span {
                  font-size: 14px;
                  line-height: 1;
                  font-family: $font-primary;
                  background-color: #F2F2F2;
                  color: #444444;
                  display: inherit;
                  margin: 0 auto -27px;
                  padding: 16px 9px 1px;                         
              }
          }
      }

      &-total {
          font-family: $font-primary;
          font-size: 20px;
          line-height: 1;
          color: $text;
          text-transform: uppercase;
          display: flex;
          justify-content: space-between;
          padding-right: 60px;
      }
  }

  &-slider {
      position: relative;
      width: 400px;
      height: 330px;
      display: flex;
      margin-right: 130px;
      &-wrapper{
          width: 400px;
          height: 330px;
          margin-left: auto;
          position: absolute;
          left: 50%;
          top: 30%;
          transform:translate3d(-50%, -50%, 0);
          z-index: 1;
      } 
      &-des {
          font-size: 16px;
          line-height: 1;
          font-family: $font-primary;
          text-transform: uppercase;
          display: flex;
          width: 100%;
          justify-content: space-between;
          margin: auto auto 8px;
          position: relative;
          z-index: 0;
         
          &::before{
              content: "";
              width: 100%;
              position: absolute;
              left: 0;
              top: 0;
              height: 6px;
              border-radius: 6px;
              background: #DCDCDC;
              margin-top: 19px;
          }
          & div:first-child {
              margin-left: -66px;
          }
          & div:last-child {
              margin-right: -66px;
          }
      }
  }
     
    /* Our image information */
  .before,
  .after {
      width:100%;
      height:100%;
      background: center/cover no-repeat #F2F2F2;;
      position: absolute;
      top:0;
      left:0;
      pointer-events:none;
      overflow: hidden;
      display: flex;
      align-items: center;
  }
    
  .content-image{
      max-width: 400px;
  }
    
  .scroller{
      width: 40px;
      height: 40px;
      position: absolute;
      left: 100px;
      top: calc(100% + 66px);
      transform:translateY(-50%);
      border-radius:50%;
      background-color: transparent;
      opacity:1;
      pointer-events:auto;
      cursor: pointer;
      
      &:hover{
          opacity:1;
      }
      
      &__thumb{
          width:100%;
          height:100%;
      }
  }
}
